fastapi==0.119.0 #modified
torch
pandas
pydantic
pydantic[email]
pydantic-settings
pydantic[email]==2.12.3 #added
pyarrow
uvicorn==0.38.0 #modified
yfinance
nltk
numpy==1.26.4  #modified (for junzhe update)
pmdarima==2.0.4  #modified (for junzhe update)
sqlalchemy
passlib[bcrypt]==1.7.4 #modified
bcrypt==4.1.3 #added
python-jose[cryptography]
python-dotenv
google-auth
httpx
PyJWT[crypto]
pmdarima
cvxpy
